.art {
    text-decoration: none;
    color: rgb(255, 122, 122);
   
}
a:hover {
    color: rgb(255, 204, 204);
}
body {
    color: #40514e;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
hr {
    border: dotted gray 6px;
    border-bottom: none;
    width: 4%;
    margin: 70px auto;
}
h1 {
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    color: #28cece;
    font-size: 562.5%;
    margin-bottom: 0px;
    line-height: 1;
    position: absolute;
    top: 80px;
    right: 10px;
    left: 10px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #40c7c7;
    margin-top: 0;
    font-size: 50px;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #40c7c7;
    font-size: 150%;
}

.footer-link {
    color: #11999e;
}
.gif {
    width: 40%;
    float: left;
    margin-right: 30px;
    position: relative;
    bottom: 16px;
    top: 0px;
}
.gif1 {
    width: 27%;
    border-radius: 20px;
    float: right;
    padding-top: 10px;
    
}
.hello {
    margin-top: 1px;
    padding-top: 16px;
}

.icon {
    margin-top: 0px;
    border-radius: 10px;
    width: 300px;
}
.skill-row {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}
.intro {
    width: 45%;
    margin: 20px auto;
    line-height: 2;

}

.subtitle {
    font-weight: normal;
    font-size: 175%;
    position: absolute;
    top: 225px;
    right: 10px;
    left: 10px;
}
p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    margin-bottom: 100px;
    
    
}
.top-container{
    background-color: #cffffe;
    position: relative;
    padding-top: 17.5%;

}
.middle-container {
    padding-top: 10px;
}
.bottom-container {
    margin: 100px;
    background-color:  #cffffe;
    padding-bottom: 47px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    bottom: 0px;
    margin-top: 50px;

}
.bottom-cloud {
    position: absolute;
    left: 175px;
    bottom: 300px;
    padding: 50px 0 20px;
}
.top-cloud {
    position: absolute;
    right: 175px;
    top: 25px;


}
.mountain {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.line2 {
    padding-right: 270px;
}
.btn {
    background: #33f8ff;
    background-image: -webkit-linear-gradient(top, #33f8ff, #1ac6c9);
    background-image: -moz-linear-gradient(top, #33f8ff, #1ac6c9);
    background-image: -ms-linear-gradient(top, #33f8ff, #1ac6c9);
    background-image: -o-linear-gradient(top, #33f8ff, #1ac6c9);
    background-image: linear-gradient(to bottom, #33f8ff, #1ac6c9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #73faff;
    background-image: -webkit-linear-gradient(top, #73faff, #3ff2da);
    background-image: -moz-linear-gradient(top, #73faff, #3ff2da);
    background-image: -ms-linear-gradient(top, #73faff, #3ff2da);
    background-image: -o-linear-gradient(top, #73faff, #3ff2da);
    background-image: linear-gradient(to bottom, #73faff, #3ff2da);
    text-decoration: none;
  }
  .footer-link {
      position: absolute;
    
  }
  .copyright {
      color: gray;
      position: absolute;
      margin-bottom: 0px;
      right: 10px;
      left: 10px;
      bottom: 0px;
    top: 10px;
    margin-top: 0px;
}
  
.contact-message {
    margin-bottom: 50px;
    width: 47%;
    margin: 20px auto 60px auto;
    line-height: 2;

}
.tagline {
    font-size: 60px;
    margin-bottom: 30px;
}